@import "flexbox";
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900);

body {
  display: inline;
  height: auto;
  width: auto;
  background: #4D4F48;
  color: rgba(255, 255, 255, 0.81);
  margin: 0;
  padding: 0;
  overflow: hidden

}